<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#redeSocialLogo"
    aria-controls="redeSocialLogo"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="redeSocialLogo">
    <a class="navbar-brand" href="#">Rede social</a>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/photos-table">Ver fotos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/user-form">Cadastro de usuário</a>
      </li>
    </ul>
  </div>
</nav>

<!-- O router-outlet é um placeholder, representando um determinado componente
 que será renderizado na página dependendo com a rota que foi acessada pelo
 navegador. -->
<router-outlet></router-outlet>
