<h1 class="mt-4">Fotos</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">
    {{ photo.id ? "Edição" : "Cadastro" }}
  </li>
</ol>
<div class="container">
  <!--
  The '#' symbol is used to create a template reference variable in Angular.

  In this case, 'clienteForm' is a reference to the form element, and 'ngForm' is an Angular
  directive that binds the form to the Angular form model.

  (ngSubmit) is an Angular event binding that listens for the form's submit event.
  When the form is submitted, it calls the 'onSubmit()' method on the component.
  -->
  <form #photoForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <!--
        *ngIf is a structural directive in Angular that conditionally includes a template based on the value of an expression.
        If the expression evaluates to true, the element is included in the DOM; otherwise, it is not.
        -->
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Foto criada/atualizada com sucesso!
        </div>

        <!--
        *ngFor is a structural directive in Angular that repeats a template for each item in a list.
        In this case, it iterates over the 'errors' array and creates a new 'div' element for each error.
        -->
        <div
          class="alert alert-danger"
          role="alert"
          *ngFor="let erro of errors"
        >
          {{ erro }}
        </div>
      </div>
    </div>

    <div class="row" *ngIf="photo.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <!--
          [ngModel] is a directive in Angular that binds the input element to a property on the component.
          In this case, it binds the input to the 'id' property of the 'cliente' object.
          -->
          <input
            type="text"
            name="id"
            [ngModel]="photo.id"
            class="form-control"
            disabled="true"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Arquivo: *</label>
          <input
            type="fyle"
            class="form-control"
            [ngModel]="photo.imageFile"
            name="imageFile"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Descrição: *</label>
          <input
            type="text"
            class="form-control"
            name="cpf"
            [(ngModel)]="photo.description"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Id do usuário: *</label>
          <input
            type="text"
            class="form-control"
            name="cpf"
            [(ngModel)]="photo.description"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <!--
        (click) is an Angular event binding syntax. It binds the button's click event to a method on
        the component. When the button is clicked, the specified method is called.
        -->
        <button type="submit" class="btn btn-primary" *ngIf="!photo.id">
          <i class="fa fa-save"></i> Salvar
        </button>

        <button type="submit" class="btn btn-secondary" *ngIf="photo.id">
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>

        <button
          type="button"
          class="btn btn-warning ml-1"
          (click)="voltarParaListagem()"
        >
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>
